@use 'variables' as *;

html {
  font-family: 'MousMemoirs', sans-serif;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  background-image: url(../images/background-mobile.svg);
  @media (min-width: $breakpoint-tablet) {
    background-image: url(../images/background-tablet.svg);
  }
  @media (min-width: $breakpoint-desktop) {
    background-image: url(../images/background-desktop.svg);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body,
#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#app > *:not(.main-menu-screen) {
  height: 100%;
  display: flex;
  flex-direction: column;
}
