// COLORS
// Neutral
$neutral-950: #000000;
$neutral-0: #ffffff;

// Slate
$slate-950: #0b1524;
$slate-600: #243041;

// Blue
$blue-600: #2463ff;
$blue-500: #5b8aff;

// Indigo
$indigo-600: #261676;
$indigo-400: #887dc0;

// Gradients
$gradient-1: linear-gradient(180deg, #344aba 0%, rgba(0, 20, 121, 0.8) 100%);
$gradient-2: linear-gradient(180deg, #67b6ff -7%, #ffffff 108%);
$gradient-3: linear-gradient(180deg, #fe71fe 16%, #7199ff 100%);
$gradient-4: linear-gradient(180deg, #ff95ff 0%, #a3aeff 100%);
$gradient-5: linear-gradient(180deg, #1a043a 0%, #151278 70%, #2b1677 100%);

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// SPACING
$spacing-0: 0;
$spacing-100: 8px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-625: 50px;
$spacing-700: 56px;
$spacing-750: 60px;
$spacing-800: 64px;

// RADIUS
$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-12: 12px;
$radius-20: 20px;
$radius-24: 24px;
$radius-32: 32px;
$radius-40: 40px;
$radius-48: 48px;
$radius-72: 72px;
$radius-96: 96px;
$radius-full: 999px;
