@use '../variables' as *;
@use '../typography' as *;

.button {
  color: $neutral-0;
  width: fit-content;

  &.play {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    aspect-ratio: 1/1;

    @media (min-width: $breakpoint-tablet) {
      width: 200px;
    }

    background: $gradient-3;
    box-shadow:
      inset 0px -4px 0px 5px $slate-600,
      inset 0px -12px 0px 11px #9d2df5;
    border-radius: $radius-full;

    &:hover {
      background: $gradient-4;
    }

    img {
      height: 50px;

      @media (min-width: $breakpoint-tablet) {
        height: 62px;
      }
    }
  }

  &.primary,
  &.secondary {
    padding: 12px 64px;
    border-radius: $radius-40;
    @include text-preset(8);
  }

  &.primary {
    background: $blue-600;
    box-shadow:
      inset 0px -2px 0px 3px #140e66,
      inset 0px 1px 0px 6px #3c74ff;

    &:hover {
      background: $blue-500;
    }
  }

  &.secondary {
    background: $gradient-3;
    box-shadow:
      inset 0px -2px 0px 3px #140e66,
      inset 0px 1px 0px 6px #c642fb;

    &:hover {
      background: $gradient-4;
    }
  }

  &.category {
    padding: 24px 64px;
    background: $blue-600;
    box-shadow:
      inset 0px -2px 0px 3px #140e66,
      inset 0px 1px 0px 6px #3c74ff;
    border-radius: $radius-40;
    @include text-preset(6);

    &:hover {
      background: $blue-500;
    }
  }

  &.back,
  &.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    aspect-ratio: 1/1;

    @media (min-width: $breakpoint-tablet) {
      width: 64px;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 94px;
    }

    background: $gradient-3;
    box-shadow: inset 0px -6px 0px 7px rgba(157, 45, 245, 0.25);
    border-radius: $radius-full;

    &:hover {
      background: $gradient-4;
    }
  }

  &.back {
    img {
      height: 16px;

      @media (min-width: $breakpoint-tablet) {
        height: 26px;
      }
      @media (min-width: $breakpoint-desktop) {
        height: 38px;
      }
    }
  }
  &.menu {
    img {
      height: 14px;

      @media (min-width: $breakpoint-tablet) {
        height: 22px;
      }
      @media (min-width: $breakpoint-desktop) {
        height: 32px;
      }
    }
  }
}
