@use '../variables' as *;
@use '../typography' as *;

.card {
  padding: 32px;

  background: $neutral-0;
  border-radius: $radius-20;

  display: grid;
  grid-template-columns: fit-content(100%) 1fr;
  grid-template-rows: auto auto;
  gap: 16px;

  @media (min-width: $breakpoint-tablet) {
    padding: 32px 40px;
    gap: 16px 40px;
    border-radius: $radius-40;
  }
  @media (min-width: $breakpoint-desktop) {
    padding: 60px 48px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  span {
    @include text-preset(10);
    color: $blue-600;
    align-self: center;
    @media (min-width: $breakpoint-tablet) {
      @include text-preset(4);
      grid-row: 1 / span 2;
    }
  }
  h2 {
    @include text-preset(10);
    text-transform: uppercase;
    color: $indigo-600;

    @media (min-width: $breakpoint-tablet) {
      @include text-preset(7);
      grid-column: 2;
      grid-row: 1;
    }
    @media (min-width: $breakpoint-desktop) {
      @include text-preset(6);
    }
  }

  p {
    grid-column: 1 / -1;
    @include text-preset(12);
    color: $indigo-400;

    @media (min-width: $breakpoint-tablet) {
      @include text-preset(11);
      grid-column: 2;
      grid-row: 2;
    }
    @media (min-width: $breakpoint-desktop) {
      @include text-preset(9);
    }
  }
}
