@use '../variables' as *;
@use '../typography' as *;

.game-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: $gradient-5;
    opacity: 0.75;
    z-index: -1;
  }

  .wrapper {
    display: grid;
    gap: 47px;
    position: absolute;

    width: min(calc(100% - 48px), 600px);

    margin: 24px;
    padding-inline: 24px;
    padding-bottom: 87px;

    background: $gradient-1;
    box-shadow:
      inset 0px -8px 0px 4px #140e66,
      inset 0px 6px 0px 8px $blue-600;
    border-radius: 48px;

    h3 {
      @include text-preset(3);
      margin-top: -52px;
      text-align: center;
      background: $gradient-2;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      filter: drop-shadow(4px 0 0 $slate-600) drop-shadow(0 4px 0 $slate-600)
        drop-shadow(-4px 0 0 $slate-600) drop-shadow(0 -4px 0 $slate-600);

      @media (min-width: $breakpoint-tablet) {
        @include text-preset(1);
        margin-top: -89px;
      }
    }

    .button-container {
      display: grid;
      place-items: center;
      gap: 32px;

      .button {
        width: fit-content;
      }
    }
  }
}
