@use '../variables' as *;
@use '../typography' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  h1 {
    @include text-preset(6);
    text-transform: uppercase;

    background: $gradient-2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    filter: drop-shadow(4px 0 0 $slate-600) drop-shadow(0 4px 0 $slate-600)
      drop-shadow(-4px 0 0 $slate-600) drop-shadow(0 -4px 0 $slate-600);
  }
}

.header-wrapper {
  header {
    h1 {
      @include text-preset(7);
      color: $neutral-0;
      background: none;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      background-clip: unset;
      filter: none;
    }
  }
}
