@use '../variables' as *;
@use '../typography' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    @include text-preset(6);
    text-transform: uppercase;

    background: $gradient-2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    filter: drop-shadow(4px 0 0 $slate-600) drop-shadow(0 4px 0 $slate-600)
      drop-shadow(-4px 0 0 $slate-600) drop-shadow(0 -4px 0 $slate-600);
  }
}
