@use '../variables' as *;
@use '../typography' as *;

.letter-box {
  padding: 14px 8px;
  min-width: 28.9px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $neutral-0;
  border-radius: $radius-8;
  @include text-preset(10);
  color: $indigo-600;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    border-radius: $radius-24;
    @include text-preset(6);
  }

  &:disabled {
    background-color: rgba($neutral-0, 0.25);
  }
}
