@use '../variables' as *;
@use '../typography' as *;

.letter-box {
  padding: 14px 8px;
  min-width: 28.9px;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $neutral-0;
  border-radius: $radius-8;
  @include text-preset(10);
  color: $indigo-600;
  text-transform: uppercase;

  &:disabled {
    background-color: rgba($neutral-0, 0.25);
  }
}
