@use '../variables' as *;
@use '../typography' as *;

.word-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 9px;

  width: 40px;
  height: 66px;

  background: $blue-600;
  box-shadow:
    inset 0px -2px 0px 3px #140e66,
    inset 0px 1px 0px 6px #3c74ff;
  border-radius: $radius-12;

  @include text-preset(7);
  text-transform: uppercase;
  color: $neutral-0;

  @media (min-width: $breakpoint-tablet) {
    border-radius: $radius-32;
    @include text-preset(5);
    width: 88px;
    height: 112px;
  }
  @media (min-width: $breakpoint-desktop) {
    border-radius: $radius-40;
    @include text-preset(4);
    width: 112px;
    height: 128px;
  }

  &:empty {
    opacity: 25%;
  }

  &.space {
    background: transparent;
    box-shadow: none;
  }
}
