@use '../variables' as *;
@use '../typography' as *;

.word-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 9px;

  width: 40px;
  height: 66px;

  background: $blue-600;
  box-shadow:
    inset 0px -2px 0px 3px #140e66,
    inset 0px 1px 0px 6px #3c74ff;
  border-radius: $radius-12;

  @include text-preset(7);
  text-transform: uppercase;
  color: $neutral-0;

  &:empty {
    opacity: 25%;
  }
}
