@use '../variables' as *;
@use '../typography' as *;

.game-screen {
  position: relative;
  gap: 80px;
  padding: 46px 25px;
  width: 100%;

  * {
    text-transform: uppercase;
  }

  @media (min-width: $breakpoint-tablet) {
    gap: 114px;
    padding: 60px 48px 112px 48px;
  }
  @media (min-width: $breakpoint-desktop) {
    gap: 150px;
    padding: 80px 112px 200px 112px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: $gradient-5;
    opacity: 0.75;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .game {
    display: grid;
    gap: 120px;
  }
}
