@use '../variables' as *;
@use '../typography' as *;

.game-screen {
  gap: 120px;
  padding: 46px 25px;
  width: 100%;

  flex-grow: 1;
  justify-content: space-around;

  * {
    text-transform: uppercase;
  }

  @media (min-width: $breakpoint-tablet) {
    gap: 60px;
    padding: 0 48px;
    margin-block: 24px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: $gradient-5;
    opacity: 0.75;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .game {
    display: grid;
    gap: 120px;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-direction: column;
      justify-content: center;
      gap: 120px;
    }
  }
}
