@use '../variables' as *;
@use '../typography' as *;

.how-to-play-screen {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;

  padding: 32px 25px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: $gradient-5;
    opacity: 0.75;
  }

  .cards-wrapper {
    display: grid;
    gap: 24px;
  }
}
