@use '../variables' as *;
@use '../typography' as *;

.how-to-play-screen {
  position: relative;
  gap: 80px;
  padding: 32px 25px;

  @media (min-width: $breakpoint-tablet) {
    padding: 48px 40px;
    gap: 100px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: $gradient-5;
    opacity: 0.75;
  }

  header {
    button {
      @media (min-width: $breakpoint-tablet) {
        position: absolute;
        left: 0;
      }
    }
  }

  .cards-wrapper {
    display: grid;
    gap: 24px;

    @media (min-width: $breakpoint-tablet) {
      gap: 32px;
    }
    @media (min-width: $breakpoint-desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
