@use '../variables' as *;
@use '../typography' as *;

.pick-a-category-screen {
  width: 100%;
  position: relative;
  display: grid;
  gap: 100px;
  padding: 32px 25px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: $gradient-5;
    opacity: 0.75;
  }

  .category-list {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
  }
}
