@use '../variables' as *;
@use '../typography' as *;

.pick-a-category-screen {
  width: 100%;
  position: relative;
  display: grid;
  gap: 100px;
  padding: 32px 25px;

  @media (min-width: $breakpoint-tablet) {
    gap: 114px;
    padding: 60px 48px 112px 48px;
  }
  @media (min-width: $breakpoint-desktop) {
    gap: 150px;
    padding: 80px 112px 200px 112px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: $gradient-5;
    opacity: 0.75;
  }

  header {
    button {
      @media (min-width: $breakpoint-tablet) {
        position: absolute;
        left: 0;
      }
    }
  }

  .category-list {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $breakpoint-desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
